:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --background-color: #2F303A;
    --background-color-user: #F5F4FA;
    
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
    cursor: pointer
}

.page-header {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--primary-white-color);
}

.logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

.site-nav-list {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: color white;
}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}

.site-nav-list .nav-link:hover,
.site-nav-list .nav-link:focus {
    color: var(--accent-color)
}   

.site-nav-list .nav-link.current{
    color: var(--accent-color)
}

.contacts .contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-color);
}

ul {
    list-style: none;
}

.hero {
    background-color: var(--background-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

/* button */

button {
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.features-list  {
    color: var(--primary-text-color);
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.features {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.section-team {
    background-color: var(--background-color-user)
}
.user {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.user-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* footer */

footer {
    font-style: normal;
    background-color: var(--background-color);
}
.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color)
}

/* footer logo */

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.footer-logo:hover,
.footer-logo:focus {
    color: var(--accent-color);
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover ,
.footer-link:focus {
    color: var(--accent-color);
}



/* Portfolio */

.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color-user);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.example-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.example-object {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

a {
    text-decoration: none;
}